// This is where all my custom classes are going to live
// Theme goes here

// * get all the color values here from the style guide.md

// overwrite theme variables here:-
 $primary: hsl(176, 50%, 47%);
 $secondary: hsl(176, 72%, 28%);
 $dark: hsl(0, 0%, 0%);
 $light: hsl(0, 0%, 48%);
//  $success: hsl(176, 72%, 28%);
//  $info: hsl(176, 72%, 28%);
//  $warning: hsl(176, 72%, 28%);
//  $danger: hsl(176, 72%, 28%);


.font-loader {
  font-family: 'Commissioner';
}
.main-container{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  // background-color: hsla(1, 90%, 95%, 0) !important;
  background-color: #f9f9f9!important;
}


// This import needs to be at the bottom of the page so that no conflict occures
@import "~bootstrap/scss/bootstrap.scss"