body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-position{
  position: absolute;
  z-index: 1;
  color:white;
  top:50px;
  left:50px;
  width:100%;
}
.header-card-paper{
  position:relative;
  padding-top:24px;
  padding-left:32px;
  padding-right:32px;
  padding-bottom:16px;
  margin-top:-45px
}
.header-card-icon{
  position:absolute;
  left:45%;
  top:-30px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.buttons-box{
  display:flex;
  justify-content:space-between;
  align-items:center;

}
.special-button{
  display:flex;
  position:relative;
}
.bookmark-icon{
  width:50px;
  height:50px;
  border-radius: 50px;
  background-color:hsl(0, 0%, 48%);
  z-index: 1;
  margin-right:-30px;
  display: flex;
  align-items:center;
  justify-content:center;
}
.bookmark-btn{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width:150px;
  border:transparent;
  color:rgb(9, 9, 9);
  /* background-color:hsl(0, 0%, 48%); */

}
.icon{
  color:lightgray;
}
